# GEMINI AI KEYS
GEMINI_API_KEY_1=your_key_here_1
GEMINI_API_KEY_2=your_key_here_2
GEMINI_API_KEY_3=your_key_here_3
GEMINI_API_KEY_4=your_key_here_4
GEMINI_API_KEY_5=your_key_here_5

# FACEBOOK MARKETING API
FACEBOOK_ACCESS_TOKEN=your_fb_token_here
FACEBOOK_AD_ACCOUNT_ID=act_your_account_id_here
FACEBOOK_PIXEL_ID=your_pixel_id_here

# AUDIENCE IDS
FACEBOOK_LAL_5_AUDIENCE_ID=your_lal_id_here
FACEBOOK_EXCLUDE_AUDIENCE_ID=your_exclude_id_here
